.dashboard {
  padding: 6em;
}

.media-content {
  font-size: 3em;

}

.welcome {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 3em;
  text-align: center;
}

.card-header-title {
  color: white;
  background-color: darkgreen;
}