<div class="columns">
  <div class="column is-12" >
    <h1>{{ accountName }}</h1>
    <table class="table">
      <thead>
        <th>Date</th>
        <th>Description</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
      </thead>
      <tbody>
        <tr *ngFor="let l of ledger | async">
          <td>{{ l.createdAt | date }}</td>
          <td>{{ l.description }}</td>
          <td><span *ngIf="l.debit">{{ l.debit }}</span></td>
          <td><span *ngIf="l.credit">{{ l.credit }}</span></td>
          <td *ngIf="l.debit">{{ getRunningBalance(l.debit, true) }}</td>
          <td *ngIf="l.credit">{{ getRunningBalance(l.credit, false) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
