.entry-option {
  padding-left: 1em;
}

.add-entry-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .flex-group {
    padding-right: 2em;
  }

  button {
    margin-top: 1.2em;
  }
}