<div *ngIf="(authService.user | async) as user">
  <h1>New Journal Entry</h1>
  <div class="column is-12">
    <form [formGroup]="addJournalEntryForm" (ngSubmit)="addJournalEntry()">

      <div class="columns debit-credit-container">
        <div class="column is-6" *ngIf="(accountList | async) as accounts">
          <div class="form-section-header">
            <span class="button is-dark add-form" (click)="addDebit()">Add Debit</span>
            <span class="button is-dark add-form" (click)="addCredit()">Add Credit</span>
          </div>
          <div formArrayName="debit">
            <div *ngFor="let debit of debitForms.controls; let i=index" [formGroupName]="i" class="form-section">
              <select class="input" formControlName="debitAccount" name="debitAccount" required>
                <option value="" disabled selected>Select an account</option>
                <option *ngFor="let account of accounts" [ngValue]="account">{{ account.name }}</option>
              </select>
              <input class="input" type="number" name="debitAmount" formControlName="debitAmount"
                placeholder="Enter amount" />
              <span class="button is-link is-danger" (click)="deleteDebit(i)">Delete</span>
            </div>
          </div>
          <div formArrayName="credit">
            <div *ngFor="let credit of creditForms.controls; let i=index" [formGroupName]="i" class="form-section">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <select class="input" formControlName="creditAccount" name="creditAccount" required>
                <option value="" disabled selected>Select an account</option>
                <option *ngFor="let account of accounts" [ngValue]="account">{{ account.name }}</option>
              </select>
              <input class="input" type="number" name="creditAmount" formControlName="creditAmount"
                placeholder="Enter amount" />
              <span class="button is-link is-danger" (click)="deleteCredit(i)">Delete</span>
            </div>
          </div>
          <div class="form-section">
            <input class="input desciption" type="text" name="desc" formControlName="description" placeholder="Description for entry" />
          </div>
        </div>
        <div class="column is-6" *ngIf="(accountList | async) as accounts">
          <div class="form-section-header">
              <span id="current-date">{{ currentDate | date }}</span>
              <input class="input name" type="text" name="userFullName" formControlName="userFullName" disabled [(ngModel)]="user.displayName">
          </div>
            <div class="form-section">
            <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
              <h3>Attach a source document</h3>
              <p> Drag and drop</p>
               <div class="file">
                <label class="file-label">
                <input class="file-input" type="file" (change)="startUpload($event.target.files)">
                  <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    or choose a file…
                  </span>
                  </span>
                </label>
              </div>
              <div class="percentage-bar" *ngIf="percentage | async as pct">
                <progress class="progress is-info"
                    [value]="pct"
                    max="100">
                </progress>
                {{ pct | number }}%
              </div>
              <div *ngIf="snapshot | async as snap">
                {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
                <div *ngIf="downloadURL | async as url">
                  <h3>Upload Successful</h3>
                </div>
                <!-- <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
                <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
                <button (click)="task.resume()" class="button is-info"   [disabled]="!(snap?.state === 'paused')">Resume</button> -->
              </div>
            </div>
            </div>
          </div>
        </div>


      <button type="submit" class="button is-link" [disabled]="!addJournalEntryForm.valid">Submit</button>
      <span (click)="buildForm()" class="button is-link is-danger">Reset</span>
    </form>
  </div>
  <div class="column is-12">
    <h1 class="is-pulled-left">Journal</h1>
    <div class="buttons has-addons is-right">
      <span (click)="setApprovalFlag('approved')" [ngClass]="{'is-selected is-success has-white-text': showApproved}"
        class="button">Approved</span>
      <span (click)="setApprovalFlag('pending')" [ngClass]="{'is-selected is-warning': showPending}" class="button">Pending</span>
      <span (click)="setApprovalFlag('rejected')" [ngClass]="{'is-selected is-danger has-white-text': showRejected}"
        class="button">Rejected</span>
    </div>
  </div>
  <div class="column is-12">
    <input class="input column is-4" type="text" [(ngModel)]="searchText" placeholder="Search">
    <table class="table transaction-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Description</th>
		      <th>Source Document</th>
          <th>Accounts</th>
          <th class="has-text-right">Debit</th>
          <th class="has-text-right">Credit</th>
          <th *ngIf="user.role === 'Manager'">Options</th>
        </tr>
      </thead>
      <tbody *ngFor="let entry of transactionsList | async | filter : {
        userFullname: searchText,
        description: searchText,
        accountName: searchText
      }">
        <tr>
          <td class="rows date-row">
            {{ entry.createdAt | date }}
            <div *ngIf="user.role === 'Accountant'">
              <div *ngIf="!entry.pending">
                <p class="has-text-success" *ngIf="entry.approved">Approved</p>
                <p class="has-text-danger" *ngIf="!entry.approved">Rejected</p>
              </div>
              <p class="has-text-warning" *ngIf="entry.pending">Pending</p>
            </div>
          </td>
          <td class="rows">
            <div *ngIf="entry.userFullName">{{ entry.userFullName }}</div>
          </td>
          <td class="rows">{{ entry.description }}</td>
		      <td class="rows"><a *ngIf="entry.sourceDocument" target="_blank" href="{{ entry.sourceDocument }}" download>Download File</a></td>
          <td class="rows">
            <div *ngFor="let debitEntry of entry.debitEntries">{{ debitEntry.accountName }}</div>
          </td>
          <td class="rows has-text-right">
            <div *ngFor="let debitEntry of entry.debitEntries">{{ debitEntry.amount | currency }}</div>
          </td>
          <td class="rows"></td>
          <td class="rows date-row" *ngIf="user.role === 'Manager' && entry.pending">
            <a [ngClass]="{'is-success has-text-white': entry.approved}" class="approve-link button" (click)="toggleApproval(entry.id, true)">Approve</a>
            <a [ngClass]="{'is-danger has-text-white': !entry.approved && !entry.pending}" class="approve-link button"
              (click)="toggleApproval(entry.id, false)">Reject</a>
          </td>
        </tr>
        <tr>
          <td class="rows"></td>
          <td class="rows"></td>
          <td class="rows"></td>
          <td class="rows"></td>
          <td id="credit" class="rows credit-account-name">
            <div *ngFor="let creditEntry of entry.creditEntries">{{ creditEntry.accountName }}</div>
          </td>
          <td class="rows"></td>
          <td class="rows has-text-right">
            <div *ngFor="let creditEntry of entry.creditEntries">{{ creditEntry.amount | currency }}</div>
          </td>
          <td class="rows"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
