input[name="desc"], input[name="file"] {
  max-width: 350px;
}

select[name="debitAccount"] {
  max-width: 300px;
}

select[name="creditAccount"] {
  max-width: 300px;
  margin-left: 50px
}

button[type="submit"] {
  margin-right: 1em;
}

.rows {
  border-bottom: 1px solid #ffffff;
  max-width: 500px;
}

.credit-account-name {
  padding-left: 4em;
  max-width: 350px;
}

.transaction-table tbody {
  border-bottom: 1px solid #dbdbdb;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

.approve-link {
  margin-right: 1.2em;
}

.hide {
  display: none;
}
<<<<<<< HEAD
=======

#current-date {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

.actions-container {
  padding-top: 4em;
}

.info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    margin-left: 1em;
    max-width: 250px;
  }
}
>>>>>>> 3cac4baec5387b7c27bf771e7ce0760ae590adc4
