.account-id {
  display: inline-block;
  min-width: 65px;
}

.subtitle {
  margin: 0px;
  font-size: 2em;
}

.total-balance {
  border-bottom: 3px double;
}

.title {
  font-weight: bold;
  font-size: 2em;
}