<section class="hero">
  <div class="hero-body">
    <div class="container-fluid">
      <div class="row has-text-centered">
        <h1 class="title">
          Acme Company Inc.
        </h1>
        <h2 class="subtitle">
          Trial Balance
        </h2>
        <h2 >
          As of {{ currentDate | date }}
        </h2>
      </div>
    </div>
  </div>
</section>
<section>
  <table class="table total-balance">
    <thead>
      <th>Account</th>
      <th class="has-text-right">Debit</th>
      <th class="has-text-right">Credit</th>
    </thead>
    <tbody>
      <tr *ngFor="let account of accountListWithBalance">
        <td><span class="account-id">{{ account.number }}</span> <strong>{{ account.name }}</strong></td>
        <td class="has-text-right"><span *ngIf="account.normalside === 'debit'">{{ account.debitAmount - account.creditAmount | number:'.2-2' }}</span></td>
        <td class="has-text-right"><span *ngIf="account.normalside === 'credit'">{{ account.creditAmount - account.debitAmount | number:'.2-2' }}</span></td>
      </tr>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <tr>
        <td></td>
        <td class="has-text-right"><strong>{{ debitTotal | currency }}</strong></td>
        <td class="has-text-right"><strong>{{ creditTotal | currency }}</strong></td>
      </tr>
    </tbody>
  </table>
</section>
