<div class="columns">
  <div class="column is-8" *ngIf="(auth.user | async) as user">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Category</th>
        <th>Normal Side</th>
        <th>Enabled</th>
        <th>Options</th>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts | async">
          <td>{{ account.name }}</td>
          <td>{{ account.category }}</td>
          <td>{{ account.normalside }}</td>
          <td>{{ account.enabled }}</td>
          <td *ngIf="user.role === 'Admin' || user.role === 'Manager'">Edit <a class="entry-option" (click)="deleteAccount(account.id)" *ngIf="user.role === 'Admin'">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
