<div class="row has-text-centered">
  <h1 class="coname">
    Acme Company Inc.
  </h1>
  <h2 class="subtitle">
    Income Statement
  </h2>
  <h2>
    For the Year Ended {{ currentDate | date }}
  </h2>
</div>
<div class="total-balance">
  <div class="columns account-total-balance">
    <div class="column is-12">
      <h1 class="title">Revenues</h1>
      <table class="table">
        <thead>
          <th>Account</th>
          <th class="has-text-right">$ Value</th>
        </thead>
        <tbody *ngFor="let racct of accountList">
          <tr *ngIf="racct.category === 'Revenues'">
            <td>{{ racct.name }}</td>
            <td class="has-text-right">{{ racct.creditAmount - racct.debitAmount | number: '.2-2'}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td><strong>Revenues Total</strong></td>
            <td class="has-text-right">{{ revenuesAccountsTotal | number: '.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="columns account-total-balance">
    <div class="column is-12">
      <h1 class="title">Expenses</h1>
      <table class="table">
        <thead>
          <th>Account</th>
          <th class="has-text-right">$ Value</th>
        </thead>
        <tbody *ngFor="let eacct of accountList">
          <tr *ngIf="eacct.category === 'Expenses'">
            <td>{{ eacct.name }}</td>
            <td>{{ eacct.debitAmount - eacct.creditAmount | number: '.2-2' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td><strong>Expenses Total</strong></td>
            <td class="has-text-right">{{ expensesAccountsTotal | number: '.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="has-text-right">
    <strong>$ Net Income</strong><br>
    {{ revenuesAccountsTotal - expensesAccountsTotal | number: '.2-2' }}
  </div>
</div>