.total-balance {
  border-bottom: 3px double;
}

.account-total-balance {
  border-bottom: 2px solid #000;
  margin-bottom: 4em;
}

h1.title {
  font-size: 3em;
  text-align: center;
  background-color: darkgreen;
  color: white;
  padding-bottom: 5px;
}

h1.coname {
  font-weight: bold;
  font-size: 2em;
}

.has-text-right strong {
  //margin-right: -3.3em
}

.has-text-right {
  //border-top: 1px solid #000;
}

.has-text-centered {
  padding-bottom: 2em;
}
