<form [formGroup]="editAccountForm" (ngSubmit)="updateAccount()">

  <h3>Edit <strong>{{ (account | async)?.name }}</strong></h3>
  <hr />

  <label for="name">Name</label>
  <input type="text" class="input" formControlName="name" name="name" required autocomplete="new-password" value="{{ (account | async)?.name }}">

  <div *ngIf="formErrors.name" class="notification is-danger">
    {{ formErrors.name }}
  </div>

  <label for="category">Category</label>
  <input type="text" class="input" formControlName="category" name="category" required autocomplete="new-password" value="{{ (account | async)?.category }}">

  <div *ngIf="formErrors.category" class="notification is-danger">
    {{ formErrors.category }}
  </div>

  <label for="normalside">Normal Side</label>
  <input type="text" class="input" formControlName="normalside" name="normalside" required autocomplete="new-password" value="{{ (account | async)?.normalside }}">

  <div *ngIf="formErrors.normalside" class="notification is-danger">
    {{ formErrors.normalside }}
  </div>

  <label for="order">Order Number</label>
  <input type="text" class="input" formControlName="order" name="order" required autocomplete="new-password" value="{{ (account | async)?.order }}">

  <div *ngIf="formErrors.order" class="notification is-danger">
    {{ formErrors.order }}
  </div>

  <label for="number">Account Number</label>
  <input type="text" class="input" formControlName="number" name="number" required autocomplete="new-password" value="{{ (account | async)?.number }}">

  <div *ngIf="formErrors.number" class="notification is-danger">
    {{ formErrors.number }}
  </div>

  <label for="subcategory">Sub Category</label>
  <input type="text" class="input" formControlName="subcategory" name="subcategory" required autocomplete="new-password" value="{{ (account | async)?.subcategory }}">

  <div *ngIf="formErrors.subcategory" class="notification is-danger">
    {{ formErrors.subcategory }}
  </div>

  <div *ngIf="formErrors.active" class="notification is-danger">
    {{ formErrors.active }}
  </div>

  <button type="submit" class="button">Submit</button>

</form>
