<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="../../../assets/images/logo.png" />
      <span id="brand-name">ccountability</span>
    </a>
    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" [ngClass]="{'is-active': show}">
    <div class="navbar-end">
      <a *ngIf="(auth.user | async) as user" class="navbar-item" (click)="logout()">
        Logout
        <br>{{ user.displayName }}
      </a>
    </div>
  </div>
</nav>
