<main-nav></main-nav>
<div class="columns is-fullheight">
  <div class="column is-2 is-sidebar-menu is-hidden-mobile" *ngIf="(auth.user | async) as user">
    <aside class="menu">
      <p class="menu-label">
        Accounting
      </p>
      <ul class="menu-list">
        <li><a routerLink="/chartofaccounts">Chart of Accounts</a></li>
        <li *ngIf="user.role !== 'Admin'"><a routerLink="/journal">Journalize</a></li>
        <li *ngIf="user.role !== 'Admin'"><a routerLink="/trial">Trial Balance</a></li>
      </ul>
      <p class="menu-label" *ngIf="user.role === 'Admin'">
        Administrator
      </p>
      <ul class="menu-list" *ngIf="user.role === 'Admin'">
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/event-logs">Event Logs</a></li>
      </ul>
      <p class="menu-label">
        Debugging
      </p>
      <ul class="menu-list">
        <li><a (click)="resetAllAccounts()">Reset Account Balances</a></li>
      </ul>
    </aside>
  </div>
  <div class="column is-main-content">
    <notification-message></notification-message>
    <router-outlet></router-outlet>
  </div>
</div>
