<div class="container">
	<div class="row has-text-centered">
  <h1 class="coname">
    Acme Company Inc.
  </h1>
  <h2 class="subtitle">
    Statement of Retained Earnings
  </h2>
  <h2>
    For the Year Ended {{ currentDate | date }}
  </h2>
  </div>
  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <div>Retained Earnings, {{ currentDate | date }} </div>
      <div>Add: Net Income </div>
      <div>Less: Dividends </div>
      <div>Total, {{ currentDate | date }}: </div>
    </div>
    <div>
      <div class="has-text-right">$ {{ initialAccountBalance | number: '.2-2' }}</div>
      <div class="has-text-right">{{ revenuesAccountsTotal - expensesAccountsTotal | number: '.2-2' }}</div>
      <div class="has-text-right last">{{ dividends | number: '.2-2' }}</div>
      <div class="has-text-right final">$ {{ initialAccountBalance + (revenuesAccountsTotal - expensesAccountsTotal) +  dividends | number: '.2-2' }}</div>
    </div>
    <div class="column"></div>
  </div>
</div>
