<div class="container">
	<div class="row has-text-centered">
  <h1 class="coname">
    Acme Company Inc.
  </h1>
  <h2 class="subtitle">
    Statement of Retained Earnings
  </h2>
  <h2>
    For the Year Ended {{ currentDate | date }}
  </h2>
</div>
  <div class="columns">
    <div class="column is-6">
      <div>Beginning Retained Earnings: {{ initialAccountBalance }}</div>
      <div>Add Net Income: {{ revenuesAccountsTotal - expensesAccountsTotal }}</div>
      <div>Less Dividends: {{ dividends }}</div>
      <div>Total: {{ initialAccountBalance + (revenuesAccountsTotal - expensesAccountsTotal) +  dividends }}</div>
    </div>
  </div>
</div>