h1.coname {
  font-weight: bold;
  font-size: 2em;
}

.has-text-right strong {
  //margin-right: -3.3em
}

.has-text-right {
  //border-top: 1px solid #000;
}

.has-text-centered {
  padding-bottom: 2em;
}

.subtitle {
  margin: 0px;
  font-size: 2em;
}

.container {
  padding-bottom: 2em;
}

.last {
  border-bottom: 1px solid black;
}

.final {
  border-bottom: 3px double black;
}
